{% extends "wordgame/base.html" %}
{% load staticfiles %}
{% block content %}

	<div id="start">
		<div class="container">
			<div class="jumbotron">
				<h2>Hello {{user.username}} </h2>
			</div>
			<ul class="list-group">
				<li class="list-group-item list-group-item-info">You will given 30 second for each question</li> 
				<li class="list-group-item list-group-item-info">You can not access previous question after submitting</li>
				<li class="list-group-item list-group-item-info">No negative marking</li>
				<li class="list-group-item list-group-item-info">Four choice will be given for each question</li>
			</ul>
			<button id="start_game" class="btn btn-primary btn-lg">Start Game</button>
		</div>
	</div>
	
 	<div id='question'>
 		<div id="time"></div>
 		<div><h2><center>Score : <span id='score'></span></center></h2></div>
 		<div><h2><center id="q_text"></center></h2></div>
 		<div><h2><center><img src="{{question.image_url}}" height="100" width="100"></center></h2></div>
 		<form method="post" id="form">
 			<input type="radio" name="answers" id='option1'>
 			<label for="option1"></label>
 			<input type="radio" name="answers" id='option2'>
 			<label for="option2"></label>
 			<input type="radio" name="answers" id='option3'>
 			<label for="option3"></label>
 			<input type="radio" name="answers" id='option4'>
 			<label for="option4"></label>
 			<input type="submit" value="Check" id="check">
 		</form>
 	</div>
 	<div id='answer'>
 		<div><h2><center>Score :  <span id='score'></span></center></h2></div>
 		<div><h2><center id='complement'></center></h2></div>
 		<div><h2><center id='full_answer'></center></h2></div>
 		<div><h2><center><img src="" height="100" width="100"></center></h2></div>
 		<div><h2><center id='main_word'></center></h2></div>
 		<div><h2><center id='sentence'></center></h2></div>
 		<button id='next' type="submit">Next</button>
 	</div>
 	<form method="post">
	 	<input type="submit" id='submit'>
 		
 	</form>
{% endblock %}