{% extends "wordgame/base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="container">
		<div class="jumbotron">{{puser.username}}</div>
    	<div id="score" style="visibility: hidden;">{{puser.score}}</div>
    	<div id="graph" style="width: 100%; height: 400px;"></div>
	</div>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      var num = $("#score").text().split(",")
      var len = num.length;
      var grdata = [["Attenped","score"]]
      for (i=0;i<len;i++){
      	grdata.push([i+1,parseInt(num[i])])
      }
      function drawChart() {
        var data = google.visualization.arrayToDataTable(grdata)

        var options = {
          hAxis: {
            title: 'Quiz Attenped'
          },
          vAxis: {
            title: 'Marks obtained'
          },

          title: 'Your Performance',
          legend: { position: 'top' },
          series: {
            1: {curveType: 'function'}
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('graph'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}